<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.btc.app.dao.MessageDao">

	<!-- add by mjw-->
	<select id="getByPage" parameterType="java.util.Map" resultType="com.btc.app.bean.MessageModel">
		select id,news from btcapp.message
	</select>

	<insert id="save" parameterType="com.btc.app.bean.MessageModel">
		insert into btcapp.message (title,news,newsUrl) values (#{title},#{news},#{newsUrl})
	</insert>

	<update id="update" parameterType="com.btc.app.bean.MessageModel">
		update btcapp.message set title = #{title},news = #{news},newsUrl = #{newsUrl} where id = #{id}
	</update>

	<delete id="delete" parameterType="com.btc.app.bean.MessageModel">
		delete from btcapp.message where id = #{id}
	</delete>

	<select id="hasNews" resultType="Integer">
		select count(1) from btcapp.message where type = #{type}
	</select>
	<!-- add by mjw-->
	
</mapper>
