<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.btc.app.dao.UserMapper">
    <resultMap id="BaseResultMap" type="com.btc.app.bean.UserBean">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="username" property="username" jdbcType="VARCHAR"/>
        <result column="phone" property="phone" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="address" property="address" jdbcType="VARCHAR"/>
        <result column="email" property="email" jdbcType="VARCHAR"/>
        <result column="sex" property="sex" jdbcType="BOOLEAN"/>
        <result column="register_time" property="register_time" jdbcType="TIMESTAMP"/>
        <result column="account_status" property="account_status" jdbcType="INTEGER"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, username, phone, password, address, email, sex,register_time,account_status
  </sql>

	<!-- start by mjw -->
	<sql id="baseSql">
		id,
		useridentifier,
		username,
		phone,
		salt,
		password,
		address,
		email,
		sex,
		register_time,
		account_status,
		status,
		lastfailedsignintime,
		loginfailedcount,
		lastsuccesssignintime,
		signUpTime
	</sql>

	<insert id="saveUser" parameterType="com.btc.app.bean.UserModel">
		insert into btcapp.user (useridentifier,phone,salt,password,status)
		values
		(#{useridentifier},#{phone},#{salt},#{password},#{status})
	</insert>
	
	<select id="searcUserByPhone" parameterType="com.btc.app.bean.UserModel" resultType="com.btc.app.bean.UserModel">
		select
		<include refid="baseSql" />
		from user where phone = #{phone}
	</select>

	<select id="getByPage" parameterType="Map" resultType="com.btc.app.bean.UserModel">
		select
		<include refid="baseSql" />
		from user
		<where>
			1 = 1
			<if test="t.useridentifier != null and t.useridentifier != '' ">
				and useridentifier = #{t.useridentifier}
			</if>
			<if test="t.phone != null and t.phone != '' ">
				and phone = #{t.phone}
			</if>
		</where>
	</select>
	
	<update id="updateByEntity" parameterType="com.btc.app.bean.UserModel">
	update btcapp.user
	<set>
		<if test="useridentifier != null">
			userIdentifier = #{useridentifier},
		</if>
		<if test="phone != null">
			phone = #{phone},
		</if>
		<if test="password != null">
			password = #{password},
		</if>
		<if test="lastfailedsignintime != null">
			lastfailedsignintime = #{lastfailedsignintime},
		</if>
		<if test="loginfailedcount != null">
			loginfailedcount = #{loginfailedcount},
		</if>
		<if test="salt != null">
			salt = #{salt},
		</if>
		<if test="signuptime != null">
			signUpTime = #{signuptime},
		</if>
		<if test="lastsuccesssignintime != null">
			lastsuccesssignintime = #{lastsuccesssignintime},
		</if>
		<if test=" status != null">
			status = #{status}
		</if>
	</set>
		where id = #{id}
	</update>	
	<!-- end by mjw -->

    <select id="testConnect" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from user
        limit 1
    </select>

    <select id="searchUser" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from user where phone = #{phone,jdbcType=VARCHAR}
        limit 1
    </select>

    <insert id="insert" parameterType="com.btc.app.bean.UserBean">
    insert into user (username, phone, password, address, email, sex,register_time,account_status)
    values (#{username,jdbcType=VARCHAR},#{phone,jdbcType=VARCHAR},#{password,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR},
      #{sex,jdbcType=BOOLEAN},NOW(),#{account_status,jdbcType=INTEGER})
  </insert>
</mapper>
